<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="jumbotron">
        <h4>Make sure you enter correct users' email.</h4>
        <h5>They will not be able to change it later.</h5>
      </div>
    </div>
    <div ng-if="!profile_ctrl.viewProfile" class="col-xs-12 col-sm-6 col-md-6">
      <form method="post" name="createForm">

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control input-lg" name="einput" placeholder="Email Address"
                   type="email" ng-model="user_reg_ctrl.email" required>
            <span class="label label-danger" ng-show="createForm.einput.$error.required">Required!</span>
            <span class="label label-danger" ng-show="createForm.einput.$error.email">Not valid email!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control " name="address" placeholder="Address"
                   type="text" ng-model="user_reg_ctrl.address" required>
            <span class="label label-danger" ng-show="createForm.address.$error.required">Required!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control " name="firstName" placeholder="First Name"
                   type="text" ng-model="user_reg_ctrl.firstName" required>
            <span class="label label-danger" ng-show="createForm.firstName.$error.required">Required!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control " name="lastName" placeholder="Last Name"
                   type="text" ng-model="user_reg_ctrl.lastName" required>
            <span class="label label-danger" ng-show="createForm.lastName.$error.required">Required!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control " name="phone" placeholder="Phone format +910 738-88-88"
                   type="text" ng-model="user_reg_ctrl.phone"
                   ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{2}[- ]?\d{2}$/" required>
            <span class="label label-danger" ng-show="createForm.phone.$error.required">Required!</span>
          </div>
        </div>
        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control " name="position" placeholder="Position"
                   type="text" ng-model="user_reg_ctrl.position" required>
            <span class="label label-danger" ng-show="createForm.position.$error.required">Required!</span>
          </div>
        </div>
        <hr>
        <br>
        <button class="btn btn-primary  btn-block"
                ng-click="user_reg_ctrl.submit(createForm)">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
