<div class="container">
  <form method="post" name="loginForm">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control input-lg" name="einput" placeholder="Email Address"
                   type="email" ng-model="login_ctrl.email" required>
            <span class="label label-danger" ng-show="loginForm.einput.$error.required && login_ctrl.errors">Required!</span>
              <span class="label label-danger" ng-show="loginForm.einput.$error.email && login_ctrl.errors">Not valid email!</span>
          </div>
        </div>

        <div class="form-group">
          <div class="right-inner-addon">
            <input class="form-control input-lg" name="pass" placeholder="Password"
                   type="password" ng-model="login_ctrl.password" required>
            <span class="label label-danger" ng-show="loginForm.pass.$error.required && login_ctrl.errors">Required!</span>
          </div>
        </div>
        <hr>
        <br>
        <button class="btn btn-primary btn-lg btn-block"
                ng-click="login_ctrl.submit(loginForm)">LOGIN</button>
      </div>
    </div>
  </form>
</div>
