<div class="jumbotron">
<form method="post" name="entryForm">

  <p class="input-group">
    <input type="text" class="form-control" placeholder="Date in format YYYY-MM-DD" uib-datepicker-popup
           ng-model="create_entry_ctrl.entry.date"
           ng-required="true" close-text="Close"/>

          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
  </p>

  <div class="form-group">
    <div class="right-inner-addon">
      <input class="form-control " name="quantity" placeholder="Hours spent"
             type="text" ng-model="create_entry_ctrl.entry.quantity" required>
      <span class="label label-danger" ng-show="entryForm.quantity.$error.required">Required!</span>
    </div>
  </div>

  <div class="form-group">
    <div class="right-inner-addon">
      <input class="form-control " name="description" placeholder="Describe your task"
             type="text" ng-model="create_entry_ctrl.entry.description" required>
      <span class="label label-danger" ng-show="entryForm.description.$error.required">Required!</span>
    </div>
  </div>

  <hr>
  <br>
  <button class="btn btn-primary btn-block"
          ng-click="create_entry_ctrl.submit(entryForm)">SUBMIT</button>
</form>
</div>
