<div class="container">

  <div class="entries_list" ng-if="entries_ctrl.views.listView">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Timelog</h3>
        <div class="list-group">
          <button type="button" class="list-group-item" ng-repeat="entry in entries_ctrl.entries"
                  ng-click="entries_ctrl.showDetailed(entry)">
            {{entry.quantity}} hours on {{entry.date | date:'yyyy-MM-dd'}}
            Task:"{{entry.description}}"
            <span class="badge">{{entry.status}}</span>
          </button>
        </div>
      </div>
      <div class ="col-md-3">
        <div class="jumbotron">
          <button class="btn btn-primary  btn-block"
                  ng-click="entries_ctrl.showForm()">Add Entry</button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="entries_ctrl.views.formView" class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">

    <form method="post" name="entryForm">

      <p class="input-group">
        <input type="text" class="form-control" placeholder="Date" uib-datepicker-popup
               ng-model="entries_ctrl.addEntry.date" is-open="entries_ctrl.popup.opened"
               datepicker-options="entries_ctrl.dateOptions"
               ng-click="entries_ctrl.open()"
               ng-required="true" close-text="Close"/>

          <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="entries_ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </p>

      <div class="form-group">
        <div class="right-inner-addon">
          <input class="form-control " name="quantity" placeholder="Hours spent"
                 type="text" ng-model="entries_ctrl.addEntry.quantity" required>
          <span class="label label-danger" ng-show="entryForm.quantity.$error.required">Required!</span>
        </div>
      </div>

      <div class="form-group">
        <div class="right-inner-addon">
          <input class="form-control " name="desciption" placeholder="Describe your task"
                 type="text" ng-model="entries_ctrl.addEntry.description" required>
          <span class="label label-danger" ng-show="entryForm.description.$error.required">Required!</span>
        </div>
      </div>

      <hr>
      <br>
      <button class="btn btn-primary  btn-block"
              ng-disabled ="entryForm.$error.required ||  entryForm.$invalid"
              ng-click="entries_ctrl.submit()">SUBMIT</button>
    </form>
  </div>

  <div class="detailed_entry" ng-if="entries_ctrl.views.detailedView">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-5">
          <h3>Task name: "{{entries_ctrl.detailedEntry.description}}"</h3>
          <span class="label label-info">{{entries_ctrl.detailedEntry.status}}</span>
          <h4>You spent {{entries_ctrl.detailedEntry.quantity}} hours on
            {{entries_ctrl.detailedEntry.date | date:'yyyy-MM-dd'}} on this task.</h4>
        </div>

        <div class="col-md-5" ng-if="!entries_ctrl.views.viewEditForm">
          <h4>Responses:</h4>
          <h5 ng-if="entries_ctrl.noResponses()">Currently there no responses</h5>
            <div class="list-group">
              <button type="button" class="list-group-item"
                  ng-repeat="response in entries_ctrl.detailedResponses">
                "{{response.response}}" at {{response.date | date:'yyyy-MM-dd'}}
                by {{response.manager.firstName + ' ' + response.manager.lastName}}
                <span class="badge">{{response.status}}</span>
              </button>
            </div>
        </div>

        <div class="col-md-5" ng-if="entries_ctrl.views.viewEditForm">
          <form method="post" name="entryForm">

            <p class="input-group">
              <input type="text" class="form-control" placeholder="Date" uib-datepicker-popup
                     ng-model="entries_ctrl.addEntry.date" is-open="entries_ctrl.popup.opened"
                     datepicker-options="entries_ctrl.dateOptions"
                     ng-click="entries_ctrl.open()"
                     ng-required="true" close-text="Close"/>

          <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="entries_ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>

            <div class="form-group">
              <div class="right-inner-addon">
                <input class="form-control " name="quantity" placeholder="Hours spent"
                       type="text" ng-model="entries_ctrl.addEntry.quantity" required>
                <span class="label label-danger" ng-show="entryForm.quantity.$error.required">Required!</span>
              </div>
            </div>

            <div class="form-group">
              <div class="right-inner-addon">
                <input class="form-control " name="desciption" placeholder="Describe your task"
                       type="text" ng-model="entries_ctrl.addEntry.description" required>
                <span class="label label-danger" ng-show="entryForm.description.$error.required">Required!</span>
              </div>
            </div>

            <hr>
            <br>
            <button class="btn btn-primary  btn-block"
                    ng-disabled ="entryForm.$error.required ||  entryForm.$invalid"
                    ng-click="entries_ctrl.submitEditForm()">SUBMIT</button>
          </form>
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary btn-block"
                  ng-click="entries_ctrl.showList()">Go Back</button>
          <button class="btn btn-primary btn-block" ng-if="entries_ctrl.isRejectedTask()"
                  ng-click="entries_ctrl.showEditForm()">Edit task</button>
        </div>
      </div>
    </div>
  </div>
</div>
