<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="form-group">
        <div class="right-inner-addon">
          <input class="form-control input-lg" placeholder="Email Address" type="text">
        </div>
      </div>

      <div class="form-group">
        <div class="right-inner-addon">
          <input class="form-control input-lg" placeholder="Password" type="password">
        </div>
      </div>

      <hr>
      <br>
      <button class="btn btn-primary btn-lg btn-block">LOGIN</button>
    </div>
  </div>
</div>
