<div class ="jumbotron" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="centered_col">
        <h1>This is the main screen.</h1>
        <h3>Please authorize</h3>
        <div class="btn-group">
          <a ui-sref="signup_screen" role="tab"
             data-toggle="tab" class="big btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User</a>

          <a ui-sref="login_screen" role="tab"
             data-toggle="tab" class="big btn btn-danger">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> I have account</a>
        </div>
    </div>
    </div>
  </div>
</div>
