<nav ng-controller="NavbarController as navbar_ctrl" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TimeTracker</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-if="!navbar_ctrl.isAuthenticated()"><a href="/#/">Home</a></li>
        <li ng-if="navbar_ctrl.isAuthenticated()"><a ui-sref="profile">My Profile</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li ng-if="navbar_ctrl.isUser()"><a href="/#/entries">Entries</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li ng-if="navbar_ctrl.isManager()"><a href="/#/pending_entries">Pending Entries</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li ng-if="navbar_ctrl.isManager()"><a href="/#/user_reg">Create User</a></li>
      </ul>

      <ul ng-if="!navbar_ctrl.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a href="/#/login">Login</a></li>
        <li><a href="/#/signup">Sign up</a></li>
      </ul>

      <ul ng-if="navbar_ctrl.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a href="/#/logout">Logout</a></li>
      </ul>

      <ul ng-if="navbar_ctrl.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a href="/#/users">User List</a></li>
      </ul>

    </div>
  </div>
</nav>
